name: CI

on:
  push:
  pull_request:
  workflow_dispatch:

jobs:
  Test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install C3 compiler
        run: |
          sudo apt-get update
          sudo apt-get install -y curl tar
          sudo apt-get install -y libtree-sitter-dev
          curl -L https://github.com/c3lang/c3c/releases/download/v0.7.7/c3-linux.tar.gz -o c3.tar.gz
          tar -xzf c3.tar.gz
          sudo mv c3/c3c /usr/local/bin/c3c
          sudo chmod +x /usr/local/bin/c3c
          echo "C3C_LIB=c3/lib" >> $GITHUB_ENV

      - name: Run tests
        run: c3c test

      - name: Compile formatted standard library
        working-directory: test/stdlib
        run: c3c build
